<!--
COMP229 - F2020 - Section 007
Aileen Nicole Alapan
301108374
MidTerm Practical Test
-->
<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1> <br>
            <h2>Welcome to the <%= title %> Page</h2> <br>
            <h4>MIDTERM PRACTICAL TEST</h4><br><br>
            COMP229 - Web Application Development - Fall Semester 2020 - Section 007 <br><br>
            Submitted by: AILEEN NICOLE ALAPAN - 3011083764 <br>
            <img src="\Assets\images\AileenNicole.jpg" height="200">
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


